@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}
html, body{
  @apply bg-gradient-to-b from-sky-500 to-indigo-500
}
}